@import "src/styles"

.containerNav
   width: 250px
   height: 650px
   background-color: lightgray
   @include flexNavItems

   .titleComp 
      @include borderAll

   .profileComp
      @include borderAll

   .menuComp
      @include borderAll