<div class="container">
   <app-nav>
      <div class="title">
         titulo tesdd
      </div>
   
      <div class="profile">
         testao
      </div>
   
      <div class="menu">
         <a routerLink="agenda">
            <p>
               Pg.agenda
            </p>
         </a>

         <a routerLink="atender">
            <p>Pg.atender</p>
         </a>

         <p>Pg.dados</p>
         <p>pg.fila</p>
         <p>Pg.prontuário</p>
      </div>
   </app-nav>

   <div class="containerRouter">
      <p>aqui</p>
      <router-outlet></router-outlet>
   </div>
   
</div>