<div class="container">
   <app-nav>
      <!-- Título da Página -->
      <div class="title">
         Título Página
      </div>
   
      <!-- Profile/ -->
      <div class="profile">
         testa
      </div>


      <!-- Menu de navegação interna com rotas filhas -->
      <div class="menu">
         <a routerLink="agenda">
            <p>Pg.agenda</p>
         </a>

         <a routerLink="atender">
            <p>Pg.atender</p>
         </a>

         <a routerLink="dados">
            <p>Pg.dados</p>
         </a>
         
         <a routerLink="fila">
            <p>pg.fila</p>
         </a>
         
         <a routerLink="prontuario">
            <p>Pg.prontuário</p>
         </a>
      </div>

   </app-nav>

   <div class="containerRouter">
      <router-outlet></router-outlet>
   </div>
   
</div>