<div class="container">
   <app-nav>
      <div class="title">
         titulo tesdd
      </div>
   
      <div class="profile">
         testao
      </div>
   
      <div class="menu">
         <p [routerLink]="['/agenda']">Pg.agenda</p>
         <p [routerLink]="['/atender']">Pg.atender</p>
         <p>Pg.dados</p>
         <p>pg.fila</p>
         <p>Pg.prontuário</p>
      </div>
   </app-nav>

   <div class="containerRouter">
      <!--<router-outlet name="details"></router-outlet>-->
      <app-agenda></app-agenda>
   </div>
   
</div>