@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap')


*
   margin: 0
   padding: 0
   font-family: 'Inter', sans-serif


@mixin flexNavItems
   display: flex
   align-items: center
   justify-content: space-around
   flex-direction: column 


@mixin borderAll
   border: 2px solid #424949
   border-radius: 12%
   padding: 12px
   color: #283747
   font-size: 15px
   width: auto
   